@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
}

.container{
	max-width: 768px;
	margin: 0 auto;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: .75em;
}

p {
	font-size: .875em;
	line-height: 21px;
    padding: 0;
}

/*The widths are in a percentage!*/
header {
	border-bottom: 3px solid #77a466;
	margin: 0 auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 90%
}

header h1 {
	float: left;
	margin: 0;
	padding: 38px 0;
}
header h1 span {
	color: #77a466;
}

header nav {
	float: right;
	padding: 20px 0;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	border-top: 3px solid #77a466;
	width: 100%;
}
header nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .875em;
	padding: 10px 10px;
	display: inline;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;
	clear: both;
	width: 90%;
}

.main-image {
	height: auto;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
	width: 100%;
}
.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
	width: 100%;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
	width: 100%
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	height: auto;
	float: left;
	border-top: 1px solid #eee;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-start;
}

.section-one h4 {
	padding: 10px 0;
}

.section-two h4,
.section-three h4 {
	padding: 10px 0;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	border-top: 3px solid #eee;
	margin: 0 auto;
	clear: both;
	text-align: center;
	display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}
footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .875em;
}
